# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.model1
*.model2v3
*.model1v3
xcuserdata
Snapshots

# osx noise
*.DS_Store
